<div class="banner-area">
  <div class="banner-text">

    <div class="form">

      <form ngNativeValidate (submit)="onSubmit($event)">
        <ul class="form-container">
          <!-- <li>
            <img class="avatar" src="/images/user.png" />
          </li> -->
          <li class="center">
            <h2>Sign-In</h2>
          </li>
          <li>
            <label for="email">
              Email
            </label>
            <input type="email" name="email" id="email" placeholder="Email" required />
          </li>
          <li>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required />
          </li>
          <li>
            <button type="submit" class="btn btn-success">SIGN IN</button>
          </li>
          <li>
            No account yet?
          </li>
          <li>
            <button type="button"  class="btn btn-secondary" (click)="openSignup()">SIGN UP</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
